[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
{% if cookiecutter.cli_app == 'true' %}
click = "*"
{% endif %}

[dev-packages]

py = ">=1.5.0"
attrs = ">=17.2.0"
ipython = "<5.5.0"
six = ">=1.10.0"
pluggy = "*"
coverage = "*"
ipdb = "*"
isort = "*"
pylama = "*"
pypi-publisher = "*"
pytest = "*"
pytest-cov = "*"
pytest-env = "*"
pytest-metadata = ">1.5.0"
pytest-xdist = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
tox = "*"
virtualenv = "*"
yapf = "*"
pytest-datafiles = "*"
