py>=1.5.0
ipython<5.5.0
six>=1.10.0
pluggy
coverage
ipdb
isort
pylama
pypi-publisher
pytest
pytest-cov
pytest-env
pytest-metadata>=1.5.0
pytest-xdist
sphinx
sphinx-rtd-theme
tox
virtualenv
yapf
pytest-datafiles
moto
jsonschema
pydocstyle>=2.0.0
mccabe
pylint
pylama-pylint
pyflakes
